@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@400;700;900&display=swap');


*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    /* height: 100vh;
    width: 100%; */
    font-family: 'Fraunces', serif;
}

.container{
    background-image: linear-gradient(to bottom, rgba(30, 32, 43, 0.52), rgba(13, 7, 12, 0.73)), url(background-8033597_1920.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 100px;

}
.container h1{
    color: #fff;
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
   
}
.counter{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
    
}
.counter p{
    font-size: 2.5rem;
    font-weight: 700;
}
.counter p, span{
    color: #fff;
}
.social{
    margin-top: 30px;
    text-align: center;
}
.social h2{
    padding-bottom: 20px;
    color: #fff;
    font-weight: 700;
}
.social a{
    padding-left: 7px;
}